@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px auto;
    max-width: 1440px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
}


/* -----------  header  --------------- */

header {
    padding: 44px 57px 10px 55px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.logo img#logo {
    width: 61px;
    height: 19px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.nav ul {
    margin-top: 8px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav li {
    padding: 5px;
}

.nav li a {
    padding: 55px 25px 0px 25px;
    font-weight: 500;
    font-size: 16px;
}

.nav li a:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
}

.baseline h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

.baseline p {
    font-size: 16px;
}

section.formulaire-recherche {
    padding: 10px 55px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 32px;
}

.search-form .search-icon {
    width: 50px;
    height: 49px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form .search-icon i {
    font-size: 18px;
}

.search-form .search-input {
    width: 236px;
    height: 49px;
    border: 1px #f2f2f2 solid;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.search-form .search-button {
    width: 132px;
    height: 49px;
    background-color: #0065fc;
    border: 1px #0065fc solid;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.search-form .search-button:hover {
    background-color: #297eff;
    border: 1px #297eff solid;
}

.search-form .search-button-mobile {
    display: none;
    width: 50px;
    height: 49px;
    background-color: #0065fc;
    border: 1px #0065fc solid;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.search-form .search-button-mobile i {
    font-size: 17px;

}


/* Version 2 */

.filter-list-mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.filter-element-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    text-decoration: none;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    background-color: #ffffff;
}


.filter-element-mobile i {
    margin-right: .5em;
}


.filter-element-mobile li {
    margin: 2px;
}


/* Version Grid */

.filter-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.filter-element {
    padding: 0 1em;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.filter-element:hover {
    background-color: #deebff;
}



/* Version 1  */
.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.title-filter {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-left: 12px;
}

.title-filter h2 {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


.filter-tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 40px;
}

.filter-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 46px;
    border: 2px solid #d9d9d9;
    padding: 0 1em;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    background-color: #ffffff;
}

.filter-tag:hover {
    background-color: #deebff;
}

.filter-icon {
    /* margin-left: 15px;
    margin-right: 10px; */
    color: #0065fc;
    font-size: 18px;
}


.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 38px 0px 27px 4px;
}

.info p {
    margin: 0;
}

.info-icon i {
    width: auto;
    height: auto;
    font-size: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    color: #0065fc;
    padding: 7px 10px;
    margin-right: 11px;
}

/* -------------  Main  ------------- */
main {
    padding: 0px 50px;
}

/* -------------  Section hebergement  ------------- */
section.hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
}

.container-hebergement {
    flex: 2;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 42px 40px 46px 40px;
}

.container-hebergement h2 {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

h3.see-more {
    font-size: 18px;
    line-height: 21px;
}

.see-more a:hover {
    color: #0065fc;
}

.block-hebergement {
    padding-top: 23px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 31px;
    width: 100%;
}

.card-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: #ffffff;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card-image-hebergement {
    height: 125px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}

.card-content-hebergement {
    margin: 4px 0px 11px 16px;
}

.card-content-hebergement h3 {
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

.card-content-hebergement p {
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.card-content-hebergement p strong {
    font-size: 14px;
    font-weight: 600;
}

.card-content-hebergement .content-notation {
    margin: 0px;
}

.card-content-hebergement .content-notation i {
    font-size: 12px;
    padding-right: 2px;
}

.container-popular {
    display: flex;
    flex-direction: column;
    gap: 26px;
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 41px 40px 34px 37px;
    overflow: hidden;
}

.popular-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.popular-icon h2 {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

.popular-icon i {
    font-size: 17px;
}

.block-popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 33px;
}

.card-popular {
    padding: 5px;
    background-color: #ffffff;
    height: 144px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card-image-popular {
    width: 40%;
    margin-right: 5px;
}

.card-image-popular img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    overflow: hidden;
}

.card-content-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-top: 16px;
    padding-bottom: 12px;
}

.content-label-popular {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
}

.content-label-popular h3 {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
}

.content-label-popular p {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.card-content-popular .content-notation {
    margin: 0px;
}

.card-content-popular .content-notation i {
    font-size: 12px;
    padding-right: 2px;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #f2f2f2;
}


/* -------------  Section activités  ------------- */
section.activites {
    padding-top: 60px;
    padding-bottom: 61px;
}

.container-activities h2 {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

.block-activities {
    padding-top: 19px;
    /* height: 445px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 43px;
}

.card-activities {
    /* width: 23%; */
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-hebergement:hover,
.card-popular:hover,
.card-activities:hover {
    /* transform: scale(1.1); */
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.card-image-activities {
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}

.content-label-activities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.content-label-activities h3 {
    margin: 20px 36px 21px 19px;
    font-size: 16px;
    line-height: 19px;
}


footer {
    margin: 0 50px;
    padding: 40px 70px 60px;
    background-color: #f2f2f2;

}

.footer {
    display: flex;
}

.footer-about,
.footer-hebergement,
.footer-assistance {
    flex: 1;
}

.footer-about h3,
.footer-hebergement h3,
.footer-assistance h3 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.footer-about li,
.footer-hebergement li,
.footer-assistance li {
    padding: 0 0 12px 0;
}


/* Responsive format tablette */

@media screen and (max-width: 1290px) {

    /* Section hebergement */
    section.hebergements {
        flex-direction: column;
        gap: 53px;
    }

    .container-hebergement {
        width: 100%;
    }

}

@media screen and (max-width: 992px) {

    /* Section hebergement */
    .block-hebergement {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .container-popular {
        width: 100%;
    }

    .block-popular {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .block-activities {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-activities {
        height: 300px;
    }

    .footer {
        justify-content: space-between;
    }

    .footer-about,
    .footer-hebergement,
    .footer-assistance {
        flex: none;

    }
}


@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }

    section.header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        padding: 0;
        margin: 0;
    }

    .logo {
        margin: 10px 0;
    }

    .logo img#logo {
        width: 120px;
        height: auto;
    }

    .nav {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav ul li {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #f2f2f2;
    }

    .nav ul li:hover {
        border-bottom: 3px #0065fc solid;

    }

    .nav ul li a {
        padding: 10px;
    }

    .nav ul li a:hover {
        border-top: none;
    }

    .baseline {
        padding: 0 20px;
    }

    section.formulaire-recherche {
        padding: 30px 22px;
    }

    .search-form {
        justify-content: center;
    }

    .search-form .search-button {
        display: none;
    }

    .search-form .search-button-mobile {
        display: block;
    }

    .filters {
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title-filter {
        margin: 0;
    }

    .filter-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(205px, 2fr));
    }

    .filter-element {
        justify-content: flex-start;
    }

    main {
        padding: 0;
        margin: 0;
    }

    section.hebergements {
        gap: 0px;
    }

    .container-hebergement {
        order: 2;
        background-color: #ffffff;
        border-radius: 0;
    }

    .container-popular {
        order: 1;
        border-radius: 0;
    }

    .see-more {
        display: none;
    }

    section.activites {
        padding: 0 40px 30px 40px;
    }

    .card-activities {
        height: 200px;
    }

    footer {
        margin: 0;
        padding: 30px 40px;
    }

    .footer {
        flex-direction: column;
        justify-content: space-between;
    }
}