@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');


body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    max-width: 1440px;
}

main {
    margin: 0 50px 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

h2 {
    font-weight: 700;
}

button {
    font-family: "Raleway", sans-serif;
}

header {
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 20px;
    margin-left: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 53px;
}

header img#logo {
    width: 61px;
    height: 19px;
    margin-top: 4px;
    margin-bottom: 10px
}

header ul {
    margin-top: 8px;
    padding-left: 0%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li a {
    padding: 55px 25px 0px 25px;
    font-weight: 500;
    font-size: 16px;
}

nav li a:hover {
    color: #0065fc;
    border-top: 2px #0065fc solid;
}

li {
    padding: 5px;
}

header h1 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
}

header p {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5px;
    margin-bottom: 32px;
}

.search-form .search-icon {
    width: 50px;
    height: 49px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form .search-icon i {
    font-size: 18px;
}

.search-form .search-input {
    width: 236px;
    height: 49px;
    border: 1px #f2f2f2 solid;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.search-form .search-button {
    width: 132px;
    height: 49px;
    background-color: #0065fc;
    border: 1px #0065fc solid;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.title-filter {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-left: 12px;
}

.title-filter h3 {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


.filter-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-tag {
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #d9d9d9;
    margin-left: 35px;
    margin-right: 5px;
    padding-right: 20px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    background-color: #ffffff;
}

.filter-tag:hover {
    background-color: #deebff;
}

.filter-icon {
    margin-left: 15px;
    margin-right: 10px;
    color: #0065fc;
    font-size: 18px;
}


.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 9px;
    margin-top: 38px;
    margin-bottom: 37px;
}

.info p {
    margin: 0;
}

.info-icon i {
    width: auto;
    height: auto;
    font-size: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    color: #0065fc;
    padding: 7px 10px;
    margin-right: 11px;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 40px;
}

.container-hebergement {
    box-sizing: border-box;
    flex: 2;
    background-color: #f2f2f2;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 42px 40px 46px 40px;
}

.container-hebergement h2 {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.container-hebergement h3 {
    margin: 17px 0 0 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.block-hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 31px;
    width: 100%;
}

.card-hebergement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: #ffffff;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-image-hebergement {
    height: 125px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}

.card-content-hebergement {
    margin: 0px 0px 11px 16px;
}

.card-content-hebergement h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

.card-content-hebergement p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 9px;
}

.card-content-hebergement p strong {
    font-size: 14px;
    font-weight: 600;
}

.card-content-hebergement .content-notation {
    margin: 0px;
}

.card-content-hebergement .content-notation i {
    font-size: 12px;
    padding-right: 2px;
}

.container-popular {
    box-sizing: border-box;
    flex: 1;
    background-color: #f2f2f2;
    height: 625px;
    border-radius: 15px;
    padding: 41px 40px 34px 37px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    overflow: hidden;
}

.popular-icon {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.popular-icon h2 {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.popular-icon i {
    font-size: 17px;
}

.block-popular {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 33px;
}

.card-popular {
    box-sizing: border-box;
    padding: 5px;
    background-color: #ffffff;
    height: 144px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-image-popular {
    width: 40%;
    margin-right: 5px;
}

.card-image-popular img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    overflow: hidden;
}

.card-content-popular {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 60%;
    padding-top: 16px;
    padding-bottom: 12px;
}

.content-label-popular {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
}

.content-label-popular h3 {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.content-label-popular p {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.card-content-popular .content-notation {
    margin: 0px;
}

.card-content-popular .content-notation i {
    font-size: 12px;
    padding-right: 2px;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #f2f2f2;
}

.container-activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 19px;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
}

.container-activities h2 {
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

.block-activities {
    width: 100%;
    height: 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
}

.card-activities {
    width: 23%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e8e8e8, -5px 5px 5px #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-image-activities {
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}

.content-label-activities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}

.content-label-activities h3 {
    margin: 20px 36px 21px 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}


footer {
    margin: 0 50px;
    padding: 40px 70px 60px;
    background-color: #f2f2f2;

}

.footer {
    display: flex;
}

.footer-about,
.footer-hebergement,
.footer-assistance {
    flex: 1;
}

.footer-about h3,
.footer-hebergement h3,
.footer-assistance h3 {
    margin-top: 5px;
    margin-bottom: 20px;
}

.footer-about li,
.footer-hebergement li,
.footer-assistance li {
    padding: 0 0 12px 0;
}